{% extends 'base.html.twig' %}

{% block title %}Mon projet - Vélos{% endblock %}

{% block body %}
<div class="container mt-4">
<h1>Nos Vélos</h1>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Numéro</th>
      <th scope="col">Nom</th>
      <th scope="col">Prix</th>
      <th scope="col">Date de création</th>
    </tr>
  </thead>
  <tbody>
    {% for velo in velos %}
    <tr class="table-primary">
      <th scope="row">{{ velo.id}}</th>
      <td>{{ velo.name}}</td>
      <td>{{ velo.prix }}</td>
      <td>{{ velo.createdAt|date('d/m/Y') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(velos) }}
</div>
</div>
{% endblock %}
