{% extends 'base.html.twig' %}

{% block title %}Mon projet - Catégories public{% endblock %}

{% block body %}
<div class="container mt-4">
<h1>Catégories public</h1>

<table class="table table-hover">
    <tbody>
    <div class="flex-box">
    {% for velo in velos %}
    
        <div class="card ">
            <img src="http://localhost:8000/images/velos/{{ velo.imageName }}" class="card-img-top" alt=".{{ velo.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{ velo.name}}</h5>
                        <p class="card-text">{{ velo.description}}</p>
                            <a href="{{ path('velo.show', {'id': velo.id}) }}" class="btn btn-primary"> Voir le vélo " {{ velo.name}} "</a>

                            {# mettre ... quand la description est trop longue #}
                            
                </div>
        </div>

    {% endfor %}
        </div>
</div>
{% endblock %}