{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-4">

		<h1 class="mt-4">Modification d'un Vélo Admin</h1>
		{{ form_start(form) }}


		<div class="form-group1">
			{{form_label(form.name)}}
			{{form_widget(form.name)}}
			<div class="form-error">
				{{ form_errors(form.name) }}
			</div>
		</div>
		<div class="form-group2">
			{{form_label(form.marque)}}
			{{form_widget(form.marque)}}
			<div class="form-error">
				{{ form_errors(form.marque) }}
			</div>
		</div>
		<div class="form-group4">
			{{form_label(form.description)}}
			{{form_widget(form.description)}}
			<div class="form-error">
				{{ form_errors(form.description) }}
			</div>
		</div>
		<div class="form-group5">
			{{form_label(form.taille)}}
			{{form_widget(form.taille)}}
			<div class="form-error">
				{{ form_errors(form.taille) }}
			</div>
		</div><div class="form-group6">
			{{form_label(form.roues)}}
			{{form_widget(form.roues)}}
			<div class="form-error">
				{{ form_errors(form.roues) }}
			</div>
		</div><div class="form-group7">
			{{form_label(form.vitesses)}}
			{{form_widget(form.vitesses)}}
			<div class="form-error">
				{{ form_errors(form.vitesses) }}
			</div>
		</div>
		<div class="form-group8">
			{{form_label(form.prix)}}
			{{form_widget(form.prix)}}
			<div class="form-error">
				{{ form_errors(form.prix) }}
			</div>
		</div>
		<div class="from-group9">
            {{form_label(form.imageFile)}}
            {{form_widget(form.imageFile)}}
			<div class="form-error">
                {{ form_errors(form.imageFile) }}
            </div>
		</div>
		{{form_row(form.submit) }}
	</div>
	{{ form_end(form) }}
</div>{% endblock %}
