{% extends 'base.html.twig' %}

{% block title %}Kraken - Vélos
{% endblock %}

{% block body %}
	<div class="container mt-4">


		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}
		{% if not velos.items is same as ([]) %}
			<div class="d-flex justify-content-center">
				<h1 class="mt-4" style="color: var(--b-violet)">Nos Vélos / Admin</h1>
			</div>

			<div class="count text-center">
				<a href="{{ path('velo.new') }}" class="btn btn-custom ms-5 mt-4" role="button">
					Créer un Vélo
				</a>
				<h4 class="mt-4">Il y a
					{{velos.totalItemCount}}
					Vélos au total.
				</h4>
			</div>

			<table class="table table-hover mt-4 border border-primary-dark align-middle">
				<thead>
					<tr>
						<th scope="col" class="col-md-2 text-center">Image</th>
						<th scope="col">Nom</th>
						<th scope="col">Marque</th>
						<th scope="col">Prix</th>
						<th scope="col">Categorie</th>
						<th scope="col">Date de création</th>
						<th scope="col">Edition</th>
						<th scope="col">Suppression</th>
					</tr>
				</thead>
				<tbody>
					{% for velo in velos %}

						<tr class="table-primary border border-primary-dark">
							<th scope="row"><img src="{{ asset('images/velos/' ~ velo.imageName) }}" class="img-fluid img-thumbnail" style="width: 15rem; height: 10rem" alt="{{ velo.imageName}}"></th>
							<td>{{ velo.name}}</td>
							<td>{{ velo.marque }}</td>
							<td>{{ velo.prix }}€</td>

							<td>{{ velo.categorie ? velo.categorie.name : 'aucune'}}</td>
							<td>{{ velo.createdAt|date('d/m/Y') }}</td>
							<td>
								<a href=" {{ path('velo.edit', {'id': velo.id}) }}" class="btn btn-info" role="button">Editer</a>
							</td>
							<td>
								<a href="{{ path('velo.delete', {'id': velo.id}) }}" onclick="return confirm('êtes vous sûr de vouloir supprimer ce Vélo?')" class="btn btn-danger" role="button">Supprimer</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="navigation d-flex justify-content-center mt-4">
				{{ knp_pagination_render(velos) }}
			</div>
		{% else %}
			<h4>Il n'y a pas de vélos.
			</h4>
		{% endif %}
	</div>
{% endblock %}
