{% extends 'base.html.twig' %}
{% block title %} Kraken - Nouveau Vélo {% endblock %}
{% block body %}
{# <div class="container mt-4">

<h1 class="mt-4" style="color: var(--b-violet)">Création d'un Vélo Admin</h1>
{{ form_start(form) }}
    

    <div class="form-group">
        {{form_label(form.name)}}
        {{form_widget(form.name)}}
        <div class="form-error">
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="form-group">
        {{form_label(form.prix)}}
        {{form_widget(form.prix)}}
        <div class="form-error">
            {{ form_errors(form.prix) }}
        </div>
    </div>
    <div class="form-group">
        {{form_row(form.submit) }}
    </div>
{{ form_end(form) }}
</div> #}
<div class="container mt-4">

		<h1 class="mt-4" style="color: var(--b-violet)">Création d'un Vélo Admin</h1>
		{{ form_start(form) }}

		<div class="form-group1">
			{{form_label(form.brand)}}
			{{form_widget(form.brand)}}
			<div class="form-error">
				{{ form_errors(form.brand) }}
			</div>
		</div>

		<div class="form-group2">
			{{form_label(form.name)}}
			{{form_widget(form.name)}}
			<div class="form-error">
				{{ form_errors(form.name) }}
			</div>
		</div>

		<div class="form-group3">
			{{form_label(form.description)}}
			{{form_widget(form.description)}}
			<div class="form-error">
				{{ form_errors(form.description) }}
			</div>
		</div>
		<table class="table table-hover mt-4 border border-primary-dark align-middle">
			<thead>
				<tr>
					<th scope="col" class="col-md-4">Cadres</th>
					<th scope="col">Roues</th>
					<th scope="col">Vitesses</th>
					<th scope="col">{{form_label(form.prix)}}</th>
				</tr>
			</thead>
			<tbody class=" text-center">

				<tr class="table-primary border border-primary-dark">
					<th scope="row" class="col-md-4">
						{{form_widget(form.frames)}}
						<div class="form-error">
						{{ form_errors(form.frames) }}
					</div>
					
					

					<td>
						{{form_widget(form.wheels)}}
						<div class="form-error">
						{{ form_errors(form.wheels) }}
					</div>
					</td>

					<td>
						{{form_widget(form.transmissions)}}
						<div class="form-error">
						{{ form_errors(form.transmissions) }}
					</div>
					</td>

					<td >
						{{form_widget(form.prix)}}
						<div class="form-error">
						{{ form_errors(form.prix) }}
					</div>
					</td>
					</th>
				</tr>
			</tbody>
		</table>
		{{form_row(form.submit) }}

		<div >
			{{form_label(form.imageFile)}}
			{{form_widget(form.imageFile)}}
			<div class="form-error">
				{{ form_errors(form.imageFile) }}
			</div>
		</div>


	</div>

	{{ form_end(form) }}
{% endblock %}