{% extends 'base.html.twig' %}

{% block title %}Mon projet - Catégories public
{% endblock %}

{% block body %}
	<div class="container mt-4 ">

			<div class="card-body1 d-flex flex-column align-items-center">
				<h3 class="card-title"style="color: var(--b-violet)">{{ categorie.name}}</h3>
							{% for velo in velos %}
					<div class="card1" >
					<h5 class="card-title " style="color: var(--b-violet)">{{ velo.name}}</h5>
						<a href="{{ path('velo.show', {'id': velo.id}) }}">
							<img src="{{ asset('images/velos/' ~ velo.imageName) }}" class="card-img-top2" style="" alt="{{velo.name}}">
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
{% endblock %}
