{% extends 'base.html.twig' %}

{% block title %}Mon projet - Catégories public{% endblock %}

{% block body %}
<div class="container mt-4">
<h1>Catégories public</h1>


    <div class="flex-box">
    {% for categorie in categories %}
    
        <div class="card" style="width: 20rem; min-height:33rem;">
            <img src="http://localhost:8000/images/categories/{{ categorie.imageName }}" class="card-img-top " style="width: 18rem; height: 18rem" alt=".{{ categorie.name}}">
                <div class="card-body" >
                    <h5 class="card-title">{{ categorie.name}}</h5>
                        <p class="card-text">  {{ categorie.description|length > 100 ? categorie.description|slice(0, 100) ~ '...' : categorie.description }}</p>
                            <a href="{{ path('category.showone', {'id': categorie.id}) }}" class="btn btn-primary"> Voir {{ categorie.name}} </a>
                            {# mettre ... quand la description est trop longue #}
                </div>
        </div>
    {% endfor %}
        </div>
</div>
{% endblock %}