{% extends 'base.html.twig' %}

{% block title %}Kraken - Catégories
{% endblock %}

{% block body %}
	<div class="container mt-4">
	{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
		{% if not categories.items is same as ([]) %}
			<div class="d-flex justify-content-center">
				<h1 class="mt-4" style="color: var(--b-violet)">Nos Categories / Admin</h1>
				
			</div>
			<div class="count text-center">
			<a href=" {{ path('admin_category.new') }}" class="btn btn-custom ms-5 mt-4"  role="button">
					Créer une catégorie
				</a>
				<h2 class="mt-4">Il y a
					{{categories.totalItemCount}}
					Catégories au total.
				</h2>
			</div>

			<table class="table table-hover mt-4 border border-primary-dark align-middle">
				<thead>
					<tr>
						<th scope="col" class="col-md-4" >Image</th>
						<th scope="col">Nom</th>
						<th scope="col">Edition</th>
						<th scope="col">Suppression</th>
					</tr>
				</thead>
				<tbody>
					{% for categorie in categories %}
						<tr class="table-primary border border-primary-dark">
							<th scope="row"><img src="{{ asset('images/categories/' ~ categorie.imageName) }}" class="img-fluid img-thumbnail" style="width: 15rem; height: 10rem" alt="...{{ categorie.name}}"></th>

							<td>{{ categorie.name}}</td>
							<td>
								<a href=" {{ path('admin_category.edit', {'id': categorie.id}) }}" class="btn btn-info">Editer</a>
							</td>
							<td>
								<a href="{{ path('admin_category.delete', {'id': categorie.id}) }}" onclick="return confirm('êtes vous sûr de vouloir supprimer cette catégorie?')" class="btn btn-danger">Supprimer</a>
							
              </td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="navigation d-flex justify-content-center mt-4">
				{{ knp_pagination_render(categories) }}
			</div>
		{% else %}
			<h2>Il n'y a pas de catégories.
			</h2>
		{% endif %}
	</div>
{% endblock %}
