{% extends 'base.html.twig' %}

{% block title %}Gestion des {{'vitesses'|capitalize }}{% endblock %}

{% block body %}
<a href="{{ path('admin_infos_index') }}" class="btn btn-custom  mt-5" role="button" style="width: 5rem; height: 2.75rem;">Retour</a>
<div class="container mt-5">
    <h1 class="text-center">Gestion des {{'vitesses'|capitalize }}</h1>
    <div class="d-flex justify-content-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ path('admin_dashboard') }}">Retour à "Bureau Administrateur"</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="{{ path('admin_infos_index') }}">Retour à "Gestion des informations"</a>
                        </li>
                        <li class="breadcrumb-item active">Gestion des vitesses</li>
                    </ol>
                </div>
    {# Formulaire d'ajout #}
    <div class="mt-4">
        <h3>Ajouter un(e) nombre de {{'vitesses'|capitalize }}</h3>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.number, 'Nombre de vitesses') }}
            {{ form_widget(form.number, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.number) }}
        </div>
        <button type="submit" class="btn btn-success mt-3">Ajouter</button>
        {{ form_end(form) }}
    </div>
    
    {# Liste des entités existantes #}
    <div class="mt-5 text-center" style="width: 50%; margin: auto;">
        <h3>Liste des nombre de {{'vitesses'|capitalize }}s existant(e)s</h3>
        <table class="table table-hover table-sm align-middle">
            <thead>
                <tr class="table col-md-4">
                    <th>Nombre de vitesses</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr class="table-primary ">
                        <td>{{ item.number }}</td>
                        <td>
                            <a href="{{ path('admin_infos_delete_transmission', { 'id': item.id }) }}" class="btn btn-danger btn-sm" onclick="return confirm('Voulez-vous vraiment supprimer cet élément ?');">Supprimer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2" class="text-center">Aucun(e) nombre de vitesses trouvé(e).</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}